html {
    background-color: black;
    

}

body {
    display: flex;
    border: 1px;
    padding: 15px;
    background-color: rgb(0, 24, 90);
    width:860px;
    margin-left: 500px;
    margin-top: 40px;
    color: black;
    

}

#Exp {
    font-size: 21px;
}

.h {
    font-size: 21px;
}

.about { 
    border:1px solid black;
    padding-left: 12px;
    background-color: white;
}

.Courses { 
    border:1px solid black;
    padding-left: 12px;
    background-color: white;
}



.Experinces { 
    border:1px solid black;
    padding-left: 12px;
    background-color: white;
}

.Education { 
    border:1px solid black;
    padding-left: 12px;
    padding-bottom: 12px;
    background-color: white;
    
}

header {
    border: 1px solid black;
    padding-left: 12px;
    width: 900px;
    background-color: rgb(20, 113, 171);
}





